.banner {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;
}

.banner .page-content {
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
}

.banner .page-content h1 {
  font-family: "ICA Rubrik", "poppins";
  font-size: 300px;
  line-height: 1em;
  color: #000000;
  position: absolute;
  bottom: 210px;
  left: -60px;
}
.banner .page-content h1::after {
  position: absolute;
  inset: 0 0 0 0;
  content: attr(data-content);
  z-index: 2;
  -webkit-text-stroke: 2px whitesmoke;
  color: transparent;
}

.center-img {
  background-image: url(/public/Assets/no-bg/Backround.png);
  width: 100%;
  height: 95vh;
  position: absolute;
  bottom: -80px;
  left: 0;
  background-size: auto 105%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}
@media (max-width: 768px) {
  .banner .page-content {
    flex-direction: column;
    padding: 3vh 1rem;
  }

  .banner .page-content h1 {
    font-size: clamp(7.5rem, 10vw, 7rem);
    left: 0;
    text-align: center;
  }
}
