.favorites-container {
  padding: 20px;
  background-color: #f9f9f9; /* Light background for contrast */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.favorites-container .favorites-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333; /* Dark text for readability */
  margin-bottom: 20px;
  text-align: center;
}

.favorites-container .no-favorites {
  font-size: 1.2rem;
  color: #666; /* Subtle text color */
  text-align: center;
  margin-top: 20px;
}

.favorites-container .recipe-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.favorites-container .recipe-card {
  position: relative; /* Make the card a positioned container for the close button */
  display: inline-block;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px; /* Reduced border radius for a cleaner look */
  padding: 15px; /* Reduced padding */
  background-color: #fff;
  box-shadow: 10px 10px 20px rgb(113, 113, 113),
    -10px -10px 20px rgb(197, 195, 195); /* Reduced shadow size */
  margin-bottom: 15px; /* Reduced margin */
  cursor: pointer;
  transition: transform 0.3s;
  width: 220px; /* Set a fixed width for consistency */
  height: auto; /* Allow height to adjust dynamically */
}

.favorites-container .recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.favorites-container .recipe-image {
  width: 100%;
  max-width: 200px; /* Reduced max width */
  height: 120px; /* Set a fixed height for consistency */
  object-fit: cover; /* Ensure the image fits within the dimensions */
  border-radius: 8px; /* Match the card's border radius */
  margin-bottom: 8px; /* Reduced margin */
}

.favorites-container .recipe-card h3 {
  font-size: 1.2rem; /* Reduced font size */
  color: #333;
  margin: 8px 0; /* Reduced margin */
  text-align: center;
}

.favorites-container .get-recipe-btn {
  display: block;
  width: 80%; /* Reduced button width */
  margin: 8px auto; /* Reduced margin */
  padding: 8px 12px; /* Reduced padding */
  font-size: 0.9rem; /* Reduced font size */
  font-weight: bold;
  color: #fff;
  background-color: #000000; /* Button color */
  border: none;
  border-radius: 5px; /* Reduced border radius */
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s ease;
}

.favorites-container .get-recipe-btn:hover {
  background-color: #a1a1a1; /* Hover color */
}
